<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shopping Cart - Petpal</title>
    <meta name="description" content="Petpal - Pet Care and Pet Shop HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    <!-- CSS here -->
    <th:block th:replace="fragmentCss :: commonStyles"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<!-- Header -->
<th:block th:replace="~{header.html :: headerF}"></th:block>

<!-- Footer -->
<div th:insert="footer :: footer"></div>

<!-- JavaScript -->
<script src="assets/js/scripts.js"></script> <!-- Your main JS file -->
</body>

</html>
